<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :title, "タスク" %>
  <%= f.text_field :title %>

  <%= f.submit("作成") %>
<% end %>

<% if !@task.nil? %>
  <% @tasks.each do |task| %>
    <% if task.closed == false %>
      <%= task.title %>
    <% end %>
  <% end %>
<% end %>

<h2>終了済み</h2>

<% if !@task.nil? %>
  <% @tasks.each do |task| %>
    <% if task.closed == true %>
      <%= task.title %>
    <% end %>
  <% end %>
<% end %>
