<%= javascript_pack_tag 'tasks/index' %>

<div class="task-form">
  <%= form_with(model: @task, local: true) do |f| %>
    <%# <%= f.label :content, "タスク" %>
    <%= f.text_field :content, placeholder: "タイトルを入力･･･" %>

    <%= f.submit("作成") %>
  <% end %>
</div>

<div class="task-list">
  <% if !@tasks.nil? %>
    <% @tasks.each do |task| %>
      <% if task.closed == false %>
        <div class="task">
          <%= form_with(model: @task, id: :unfinished_form, local: true) do |f| %>
            <%= f.hidden_field :content, value: task.content %>
            <%= f.check_box :closed, id: :check, :as => :boolean %>
            <%= f.label :closed, task.content %>
            <%= f.submit("送信") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<h2>終了済み</h2>

<% if !@tasks.nil? %>
  <% @tasks.each do |task| %>
    <% if task.closed == true %>
      <%= task.content %>
    <% end %>
  <% end %>
<% end %>

<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>
