<div class="task-form">
  <%= form_with(model: @task_list, scope: :task_list, local: true) do |f| %>
    <%# <%= f.label :content, "タスク" %>
    <%= f.text_field :name, placeholder: "タイトルを入力･･･" %>

    <%= f.submit("作成") %>
  <% end %>
</div>

<h2>タスクリスト一覧</h2>
<ul class="list-group">
  <% @task_lists.each do |task_list| %>
    <li>
      <%= link_to "#{task_list.name}", task_list_path(task_list) %>
    </li>
  <% end %>
</ul>
