<h2><%= @task_list.name %></h2>

<div class="task-form">
  <%= form_with(model: @task, local: true) do |f| %>
    <%# <%= f.label :content, "タスク" %>
    <%= f.text_field :content, placeholder: "タイトルを入力･･･" %>
    <% if @tasks.empty? %>
      <%= f.hidden_field :task_list_id, value: params[:id] %>
    <% else %>
      <%= f.hidden_field :task_list_id, value: @tasks.first.task_list_id %>
    <% end %>
    <%= f.submit("作成") %>
  <% end %>
</div>

<ul class="list-group">
  <% if !@tasks.nil? %>
    <% @tasks.each do |task| %>
      <% if task.closed == false %>
        <li>
          <%= link_to "#{task.content}", task_path(task) %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<h2>終了済み</h2>

<ul class="list-group">
  <% if !@tasks.nil? %>
    <% @tasks.each do |task| %>
      <% if task.closed == true %>
        <li>
          <%= task.content %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
