<header>
  <div class="wrapper">
    <ul class="header-title">
      <li><%= link_to "タスク管理app", root_path %></li>
    </ul>
    <ul class="header-list">
      <% if logged_in? %>
        <%# マイページへ遷移するようにする %>
        <li><%= link_to "ようこそ #{@current_user.name} 様", '#' %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", '/signup' %></li>
        <li><%= link_to "Log in", '/login' %></li>
      <% end %>
    </ul>
  </div>
</header>
